@model IEnumerable<BMG.Models.Traveling>

@{
    ViewBag.Title = "Путешествия";
}

<h2>Путешествия</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@Html.Partial("~/Views/Travelings/_Travelings.cshtml", Model)