@model IEnumerable<BMG.Models.Traveling>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@Html.Partial("~/Views/Travelings/_Travelings.cshtml", Model)