@model BMG.Models.AspNetUser

@{
    ViewBag.Title = "Мои путешествия";
}

<h2>Мои путешествия</h2>

<p>
    @Html.ActionLink("Создать новое путешествие", "Create")
</p>
<div class="row">
    <div class="col-lg-6">
        <h2>Я создала путешествия:</h2>
        @Html.Partial("~/Views/Travelings/_Travelings.cshtml", Model.Travelings)
    </div>
    <div class="col-lg-6">
        <h2>Я учавствую в путешествиях:</h2>
        @Html.Partial("~/Views/Travelings/_Travelings.cshtml", Model.Travelings1)
    </div>
</div>