@model IEnumerable<BMG.Models.Place>

@{
    ViewBag.Title = "Места";
}

<h2>Места</h2>
<p>
    @Html.ActionLink("Добавить новое место", "Create")
</p>
<div class="row">
    <div class="col-lg-4">
        @{
            BMG.Models.Place search = new BMG.Models.Place();
        }
        @Html.Partial("~/Views/Places/_Search.cshtml", search)
    </div>
    @Html.Partial("~/Views/Places/_Places.cshtml", Model)
</div>