@model IEnumerable<BMG.Models.Place>

@{
    ViewBag.Title = "Места";
}

<h2>Места</h2>

<p>
    @Html.ActionLink("Добавить новое место", "Create")
</p>

@Html.Partial("~/Views/Places/_Places.cshtml", Model)