@model BMG.Models.AspNetUser

@{
    ViewBag.Title = "Мои места";
}

<h2>Мои места</h2>

<p>
    @Html.ActionLink("Создать новое место", "Create")
</p>
<div class="row">
    <div class="col-lg-6 thumbnail">
        <center>
            <h2>Мои места</h2>
        </center>
        @Html.Partial("~/Views/Places/_Places.cshtml", Model.Places);
    </div>

    <div class="col-lg-6 thumbnail">
        <center>
            <h2>Места в которых я был(а)</h2>
            @Html.Partial("~/Views/Users/_UserPlaces.cshtml", Model.UsersPlaces);
        </center>
    </div>
</div>
