@model IEnumerable<BMG.Models.Group>

@{
    ViewBag.Title = "Группы";
}

<h2>Группы</h2>

<p>
    @Html.ActionLink("Создать новую группу", "Create")
</p>
@Html.Partial("~/Views/Groups/_Groups.cshtml", Model)