@model BMG.Models.AspNetUser

@{
    ViewBag.Title = "Мои группы";
}

<h2>Мои группы</h2>

<p>
    @Html.ActionLink("Создать новую группу", "Create")
</p>
<div class="row">
    <div class="col-lg-6">
        <h2>Созданные мною группы</h2>
        @Html.Partial("~/Views/Groups/_Groups.cshtml", Model.Groups);
    </div>
    <div class="col-lg-6">
        <h2>Я состою в группах</h2>
        @Html.Partial("~/Views/Groups/_Groups.cshtml", Model.Groups1);
    </div>
</div>