@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Привет вы на сайте BeMyGuest!!!</h1>
    <h2>Для чего "be-my-guest" нужен?</h2>
    <p class="lead">
        Позволяет экономить на жилье во время путешествий
        Появляется познакомиться с бытом местных жителей
        Возможность встретить интересных людей, единомышленников
        Местные члены такой сети могут помочь приезжему сориентироваться в городе, встретить/проводить его, помочь при возникновении непредвиденных обстоятельств.
        Межкультурный обмен и общение людей в дружеской не формальной обстановке
        Даёт возможность реализовать естественное желание узнавать что-то новое, обмениваться опытом в различных сферах жизни
        Благодаря такому общению людей из разных стран, представителей разных культур и национальностей, они имеют возможность взглянуть на многие международные проблемы с разных сторон, научиться толерантности
        Развиваешь свои навыки в иностранных языках
    </p>
    <p><a href="~/Account/Register" class="btn btn-primary btn-lg">Узнать больше &raquo;</a></p>
</div>
