@{
    ViewBag.Title = "Home Page";
}


@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        <div class="jumbotron">
            <h1>@Html.ActionLink(User.Identity.Name + "", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "About" })</h1>
            <p class="lead">
                <a href="~/Messages/Index">Сообщения</a>
                <a href="~/Photos/Index">Фотографии</a>
                <a href="~/Places/Index">Места</a>
            </p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2><a href="~/Occasions/Index">Отзывы обо мне</a></h2>
                <p>
                    В разработке
                </p>
            </div>
            <div class="col-md-4">
                <h2><a href="~/Occasions/Index">Мои события</a></h2>
                <p>
                    В разработке
                </p>
            </div>
            <div class="col-md-4">
                <h2><a href="~/Travelings/Index">Путешествия в моём городе</a></h2>
                <p>
                    В разработке
                </p>
            </div>
            <div class="col-md-4">
                <h2><a href="~/Groups/Index">Группы в моём городе</a></h2>
                <p>
                    В разработке
                </p>
            </div>
        </div>
    }
}
else
{
    <div class="jumbotron">
        <h1>Привет вы на сайте BeMyGuest!!!</h1>
        <h2>Для чего "be-my-guest" нужен?</h2>
        <p class="lead">
            Позволяет экономить на жилье во время путешествий
            Появляется познакомиться с бытом местных жителей
            Возможность встретить интересных людей, единомышленников
            Местные члены такой сети могут помочь приезжему сориентироваться в городе, встретить/проводить его, помочь при возникновении непредвиденных обстоятельств.
            Межкультурный обмен и общение людей в дружеской не формальной обстановке
            Даёт возможность реализовать естественное желание узнавать что-то новое, обмениваться опытом в различных сферах жизни
            Благодаря такому общению людей из разных стран, представителей разных культур и национальностей, они имеют возможность взглянуть на многие международные проблемы с разных сторон, научиться толерантности
            Развиваешь свои навыки в иностранных языках
        </p>
        <p><a href="~/Account/Register" class="btn btn-primary btn-lg">Узнать больше &raquo;</a></p>
    </div>
}