@model BMG.Models.AspNetUser

@{
    ViewBag.Title = "Мои сообщения";
}

<h2>Мои сообщения</h2>

<p>
    @Html.ActionLink("Создать новое сообщение", "Create")
</p>


<div class="row">
    <div class="col-lg-6">
        <h2>Входящие</h2>
        @Html.Partial("~/Views/Messages/_MessagesInput.cshtml", Model.Messages)
    </div>
    <div class="col-lg-6">
        <h2>Исходящие</h2>
        @Html.Partial("~/Views/Messages/_MessagesOutput.cshtml", Model.Messages1)
    </div>
</div>
