@model IEnumerable<BMG.Models.Photo>


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4">
            @Html.Partial("~/Views/Photos/_Photo.cshtml", item);
        </div>
    }
</div>