@model BMG.Models.Photo

    
 <div class="thumbnail">
    <img src="https://@Html.DisplayFor(modelItem => Model.Path)" alt="@Html.DisplayFor(modelItem => Model.Description)" />
    <h4>@Html.Partial("~/Views/Photos/_LinkPhoto.cshtml", Model)</h4>
    <p>
        @if (Model.AspNetUser.UserName == User.Identity.Name)
        {
            @Html.ActionLink("Редактирование", "Edit","Photos", new { id = Model.Id },null)
            <br />
            @Html.ActionLink("Удалить", "Delete", "Photos", new { id = Model.Id }, null)
        }
    </p>
</div>







 

