@model BMG.Models.Photo

@{
    ViewBag.Title = "Редактирование дорографий";
}

<h2>Редактирование дорографий</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Путь
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Path)
        </dd>

        <dt>
            Описание
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактирование", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Назад к фотографиям", "Index")
</p>
