@model BMG.Models.Photo

@{
    ViewBag.Title = "Подробнее о фототографии";
}

<h2>Подробнее о фототографии</h2>
<div class="row">
    <hr />
    @Html.Partial("~/Views/Photos/_Photo.cshtml", Model)
   
    @if (Model.Main == true)
    {
        <p> Является аватаркой</p>
    }
    else
    {
        <p>Не является аватаркой</p>
    }
   Создана @Html.Partial("~/Views/Users/_LinkUser.cshtml", Model.AspNetUser)
   
    @Html.Partial("~/Views/Discussions/_Discussion.cshtml", Model.Discussion)
    @{
        BMG.Models.UsersDiscussion comment = new BMG.Models.UsersDiscussion();
        comment.DataTimeWrite = DateTimeOffset.Now.DateTime;
        comment.Discussion = Model.Discussion;
        comment.IdDiscussion = Model.IdDiscussion;
        comment.AspNetUser = Model.AspNetUser;
        comment.IdUser = Model.IdUserCreate;
    }
    @Html.Partial("~/Views/UsersDiscussions/_Create.cshtml", comment)
</div>

