@model IEnumerable<BMG.Models.Photo>

@{
    ViewBag.Title = "Фотографии";
}

<h2>Фотографии</h2>
<p>
    @Html.ActionLink("Создать новую фотографию", "Create")
</p>
@Html.Partial("~/Views/Photos/_Photos.cshtml", Model)