@model BMG.Models.AspNetUser
@{
    ViewBag.Title = "Фотографии";
}

<h2>Мои фотографии</h2>
<p>
    @Html.ActionLink("Создать новую фотографию", "Create")
</p>
<div class="row">
    <div class="col-lg-6 thumbnail">
        <center>
            <h2>Мой фотоальбом</h2>
        </center>
        @Html.Partial("~/Views/Photos/_Photos.cshtml", Model.Photos1);
    </div>

    <div class="col-lg-6 thumbnail">
        <center>
            <h2>Фотографии не в альбоме</h2>
        </center>
       @Html.Partial("~/Views/Photos/_Photos.cshtml", Model.Photos1);
    </div>
</div>