@model IEnumerable<BMG.Models.Discussion>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-3 thumbnail">
            <h2> @Html.DisplayFor(modelItem => item.Title)</h2>
            <h4>от @Html.Partial("~/Views/Users/_LinkUser.cshtml", item.AspNetUser)</h4>
            <p>
                @Html.ActionLink("Подробнее", "Details", new { id = item.Id })
                
            </p>
        </div>
    }
</div>