@model BMG.Models.Discussion
           <div class="form-horizontal">
    <h4>Комментарии</h4>
    <hr />
    @Html.Partial("~/Views/UsersDiscussions/_UsersDiscussions.cshtml", Model.UsersDiscussions)
</div>