@model IEnumerable<BMG.Models.Discussion>

@{
    ViewBag.Title = "Дискуссии";
}

<h2>Дискуссии</h2>

<p>
    @Html.ActionLink("Создать дискуссию", "Create")
</p>
@Html.Partial("~/Views/Discussions/_Discussions.cshtml", Model);