@model BMG.Models.AspNetUser

@{
    ViewBag.Title = "Мои дискуссии";
}

<h2>Мои дискуссии</h2>

<p>
    @Html.ActionLink("Создать новую дискусию", "Create")
</p>


@Html.Partial("~/Views/Discussions/_Discussions.cshtml", Model.Discussions);

