@model IEnumerable<BMG.Models.Occasion>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-12 thumbnail">
            <h4>
               @Html.Partial("~/Views/Occasions/_LinkOccasion.cshtml", item)
            </h4>
            <p>@Html.DisplayFor(model=>item.Description)
            </p>
            <p>
                @Html.ActionLink("Подробнее", "Details", new { id = item.Id })
                @if (item.AspNetUser1.UserName == User.Identity.Name)
                {
                    @Html.ActionLink("Редактирование", "Edit", new { id = item.Id })
                }
            </p>
        </div>
    }
</div>