@model IEnumerable<BMG.Models.Occasion>

@{
    ViewBag.Title = "События";
}

<h2>События</h2>

<p>
    @Html.ActionLink("Создать новое событие", "Create")
</p>
@Html.Partial("~/Views/Occasions/_Occasions.cshtml", Model)