@model BMG.Models.AspNetUser

@{
    ViewBag.Title = "Мои события";
}

<h2>Мои события</h2>

<p>
    @Html.ActionLink("Создать новое событие", "Create")
</p>

<div class="row">
    <div class="col-lg-6">
        <h2>Я принимаю путешественников:</h2>
        @Html.Partial("~/Views/Occasions/_Occasions.cshtml", Model.Occasions);
    </div>
    <div class="col-lg-6">
        <h2>Я путешествую:</h2>
        @Html.Partial("~/Views/Occasions/_Occasions.cshtml", Model.Occasions1);
    </div>
</div>