@model IEnumerable<BMG.Models.UsersDiscussion>


<div class="row">
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-lg-2 ">
                        @foreach (var i in item.AspNetUser.Photos)
                        {
                            if (i.AspNetUser != null && i.Main == true)
                            {
                                @Html.Partial("~/Views/Photos/_Avatar.cshtml", i);
                            }
                        }
                        <h3>
                            от @Html.Partial("~/Views/Users/_LinkUser.cshtml", item.AspNetUser)
                            в @Html.DisplayFor(modelItem => item.DataTimeWrite)
                        </h3>
                    </div>
              
            <div class="col-lg-10 ">
                @Html.DisplayFor(modelItem => item.Text)
            </div>
        </div>
    }
</div>
