@model BMG.Models.AspNetUser

<div class="thumbnail">
    
    <h2>@Html.Partial("~/Views/Users/_LinkUser.cshtml",Model)</h2>
   
    @foreach (var i in Model.Photos)
    {
        if (i.AspNetUser != null && i.Main == true)
        {
            @Html.Partial("~/Views/Photos/_Avatar.cshtml", i)
        }
    }
    <h4>@Html.DisplayFor(modelItem => Model.Status)</h4>
</div>