@model IEnumerable<BMG.Models.AspNetUser>

@{
    ViewBag.Title = "Пользователи";
}

<h2>Пользователи</h2>
<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-lg-4">
            @Html.Partial("~/Views/Users/_AboutUser.cshtml", item)
        </div>
    }
</div>

